@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --first-color: #1d1e26;
    --font-color: #f7f7f7;
}

body {
    background: var(--first-color);
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #268864;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #48e0a9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

.logo img {
    width: 3%;
    margin: 25px 0 0 70px;
}

a {
    color: var(--font-color);
    font-weight: bold;
}

button {
    margin-right: 25px;
    border: none;
    width: 200px;
    height: 40px;
    color: #aeaa46;
    background: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    width: 70%;
    margin-left: 14rem;
    display: flex;
    justify-content: space-between;
}

.container h3 {
    font-weight: 500;
}

.container img {
    width: 500px;
    margin-top: -20px;
}

.content img {
    width: 50%;
    margin-top: 5%;
}

.content .logotipo {
    margin-left: 0px;
}

.content .socialmedia {
    display: flex;
    margin: 0;
}

.content .socialmedia img {
    width: 150px;
    margin-left: 1.6rem;
}

.content .socialmedia a:first-child {
    margin-right: 20px;
    margin-left: -30px;
}

.imgright img {
    width: 100%;
    margin-right: 20px;
}

.howtoworks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 800px;
    margin-left: 17rem;
}

@media screen and (min-width: 1920px) {
    .text {
        width: 1200px;
        margin-left: 22rem;
    }
}

.breakline {
    flex-basis: 100%;
    height: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright i {
    margin-bottom: 15px;
    font-size: 12px;
}

.ActionLogin {
    margin-left: 30px;
    width: 200px;
    height: 60px;
    background: #50a773;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.ActionLogin:hover {
    transition: 1s;
    background: #419261;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-left: 10rem;
    }

    .text {
        margin-left: 10rem;
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        display: none;
    }

    .imgright {
        display: none;
    }

    .container {
        margin-left: 4rem;
        margin-bottom: 2rem;
        width: 80%;
    }

    .text {
        margin-left: 4rem;
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin-left: 2rem;
    }

    .text {
        width: 320px;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .container {
        margin-left: 1.5rem;
    }

    .howtoworks h1 {
        font-size: 1.5rem;
    }

    .text {
        width: 300px;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .container {
        margin-left: .5rem;
    }

    .text {
        margin-left: .5rem;
        width: 260px;
    }
}
