:root {
  --background: #eeeeee;
  --background-alt: #232634;
  --green: #199966;
  --green-alt: #3dcf9a;
  --green-bubble: #75bea2;
  --green-light: #c1e8bb;
  --orange: #ef9f76;
  --yellow: #eed49f;
  --purple: #ca9ee6;
  --blue: #99d1db;
  --red: #e68284;
  --white: #fff;
  --gray: #ccc;
  --black: #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --white: #232634;
    --background: #eeeeee;
  }
} */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--green-alt);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 20px;
}

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}